In [19]:
import pandas as pd
import seaborn as sns

df = pd.read_csv("titanic.csv")
del df["Unnamed: 0"]
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [20]:
df["sex"].value_counts(normalize=True)

sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64

In [21]:
df["alive"].value_counts(normalize=True)

alive
no     0.616162
yes    0.383838
Name: proportion, dtype: float64

In [27]:
temp = df[['sex','alive']].value_counts(normalize=True)
print(type(temp), '\n', temp) # Series
print(type(temp.index), '\n', temp.index) # MultiIndex
print(type(temp.values), '\n', temp.values) # numpy.ndarray

<class 'pandas.core.series.Series'>
 sex     alive
male    no       0.525253
female  yes      0.261504
male    yes      0.122334
female  no       0.090909
Name: proportion, dtype: float64
<class 'pandas.core.indexes.multi.MultiIndex'>
 MultiIndex([(  'male',  'no'),
            ('female', 'yes'),
            (  'male', 'yes'),
            ('female',  'no')],
           names=['sex', 'alive'])
<class 'numpy.ndarray'>
 [0.52525253 0.26150393 0.12233446 0.09090909]

In [36]:
s = df[['sex','alive']].value_counts(normalize=True)
print(type(s), '\n', s) # Series
asc = s.sort_values() # ascending=True
print(type(asc), '\n', asc) # Series
des = s.sort_values(ascending=False)
print(type(des), '\n', des) # Series

<class 'pandas.core.series.Series'>
 sex     alive
male    no       0.525253
female  yes      0.261504
male    yes      0.122334
female  no       0.090909
Name: proportion, dtype: float64
<class 'pandas.core.series.Series'>
 sex     alive
female  no       0.090909
male    yes      0.122334
female  yes      0.261504
male    no       0.525253
Name: proportion, dtype: float64
<class 'pandas.core.series.Series'>
 sex     alive
male    no       0.525253
female  yes      0.261504
male    yes      0.122334
female  no       0.090909
Name: proportion, dtype: float64