# LangChain을 사용한 CSV 파일 처리

In [ ]:
!pip install langchain-experimental tabulate pandas openai

In [3]:
import pandas as pd
#csv 파일을 데이터프레임으로 가져오기
df = pd.read_csv('booksv_02.csv')
df.head(1)

,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004,3.85,247,361

In [5]:
import os
from dotenv import load_dotenv

load_dotenv()
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [6]:
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain_classic.agents.agent_types import AgentType
from langchain_classic.chat_models import ChatOpenAI
#에이전트 생성
agent = create_pandas_dataframe_agent(
    ChatOpenAI(temperature=0, model='gpt-4.1-mini'),
    df, #데이터가 담긴 곳
    verbose=False, #추론 과정을 출력하지 않음
    agent_type=AgentType.OPENAI_FUNCTIONS,
    allow_dangerous_code=True,
)

c:\ProgramData\anaconda3\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

WARNING:tensorflow:From c:\ProgramData\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

C:\Users\User\AppData\Local\Temp\ipykernel_9828\1559604857.py:6: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the `langchain-openai package and should be used instead. To use it run `pip install -U `langchain-openai` and import as `from `langchain_openai import ChatOpenAI``.
  ChatOpenAI(temperature=0, model='gpt-4.1-mini'),

In [11]:
agent.run('어떤 제품의 ratings_count가 제일 높아?')

'ratings_count가 가장 높은 제품은 "One Hundred Years of Solitude"이며, ratings_count는 547,207입니다.'

In [12]:
df[df['ratings_count'] == df['ratings_count'].max()]

,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
168,One Hundred Years of Solitude,NaN,Gabriel Garcia Marquez,Fiction,http://books.google.com/books/content?id=pgPWO...,"One of the 20th century's enduring works, One ...",2003,4.06,417,547207

In [16]:
# df[df['published_year'] == df['published_year'].max()]
# 사용했을 때 가장 최근 연도는 2007로 여러개가 출력되지만
# 추론 과정을 True로 하고 보면 모델은 df.loc[df['published_year'].idxmax()] 이러한 코드를 사용하여
# 가장 처음 등장한 인덱스 기준으로 하나만 출력한다.
agent.run('가장 최근에 출간된 책은?')

'가장 최근에 출간된 책은 "The Yiddish Policemen\'s Union"입니다. 출간 연도는 2007년입니다.'

In [15]:
max_published_year = df['published_year'].max()
print(max_published_year)
df[df['published_year'] == max_published_year]

2007

,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
69,The Yiddish Policemen's Union,A Novel,Michael Chabon,Fiction,http://books.google.com/books/content?id=-reD1...,"For sixty years, Jewish refugees and their des...",2007,3.70,414,51219
184,The Kindness of Strangers,NaN,Katrina Kittle,Fiction,http://books.google.com/books/content?id=nDhTB...,"A young widow raising two boys, Sarah Laden is...",2007,4.01,400,11432
250,The Dead Beat,"Lost Souls, Lucky Stiffs, and the Perverse Ple...",Marilyn Johnson,Social Science,http://books.google.com/books/content?id=b03jl...,Marilyn Johnson was enthralled by the remarkab...,2007,3.41,272,1106
267,A False Mirror,An Inspector Ian Rutledge Mystery,Charles Todd,Fiction,http://books.google.com/books/content?id=MMG3b...,Summoned to a small harbor town by a former tr...,2007,4.02,384,2354
270,For a Few Demons More,NaN,Kim Harrison,Fiction,http://books.google.com/books/content?id=ya3Nq...,When a serial murderer begins killing off memb...,2007,4.33,456,47314
274,Into a Dark Realm,Book Two of the Darkwar Saga,Raymond E. Feist,Fiction,http://books.google.com/books/content?id=pSzYD...,Having successfully prevented a civil war with...,2007,4.00,319,8974
278,Voice of the Gods,Age of the Five Trilogy,Trudi Canavan,Fiction,http://books.google.com/books/content?id=pRDil...,Unable to avoid being drawn into the terrible ...,2007,4.08,592,9413
299,"Animal, Vegetable, Miracle",A Year of Food Life,Barbara Kingsolver;Camille Kingsolver;Steven L...,Biography & Autobiography,http://books.google.com/books/content?id=qLkEY...,Bestselling author Barbara Kingsolver returns ...,2007,4.04,370,86130
302,Continental Drift,NaN,Russell Banks,Fiction,http://books.google.com/books/content?id=VDRLP...,A powerful literary classic from one of contem...,2007,3.87,408,2744
310,Little House in the Big Woods,NaN,Laura Ingalls Wilder,Juvenile Fiction,http://books.google.com/books/content?id=7JctN...,A year in the life of two young girls growing ...,2007,4.18,198,193862
312,The Long Winter,NaN,Laura Ingalls Wilder,Juvenile Fiction,http://books.google.com/books/content?id=Il_yC...,"After an October blizzard, Laura's family move...",2007,4.14,422,66192
313,Little Town on the Prairie,NaN,Laura Ingalls Wilder,Juvenile Fiction,http://books.google.com/books/content?id=LFvnV...,Laura spends her fifteenth summer working hard...,2007,4.18,374,70683
314,The First Four Years,NaN,Laura Ingalls Wilder,Juvenile Fiction,http://books.google.com/books/content?id=_HqHx...,"During their first four years of marriage, Lau...",2007,3.88,126,27390